

body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;

}
.slider {
  width: 100%;
}
.slider img{
  width: 100%;
}
.slider-container{
  position: relative;
  height: 450px;
  overflow: hidden;
}
.slider-container-text img{
  height: 80px;
  width: auto;
}
.slider-container-text{
  animation-delay: 2s;
  position: absolute;
  top: 60%;
  right: 10%;
  width: 569px;
  height: 97px;
  text-shadow: 0px 5px 8.6px rgba(0, 0, 0, 0.35);
  font-family: MyriadPro-It;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.41;
  letter-spacing: 0.3px;
  text-align: center;
  color: #ffffff;
}
.slider-container-text-h1{
  margin-bottom: 20px;
  font-family: Myriad Pro;
  font-size: 65px;
  letter-spacing: 4.7px;
  text-align: center;
}
.site-content{
  text-align: center;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  float: none;
  margin-bottom: 50px;
}
.site-content div{
  display: inline-block !important;
  margin-left: 20px;
  margin-right: 20px;
}
.footer-color{
  background-color: #f2f5f7;
}
.footer-content{
  max-width: 1080px;
  float: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.content-container-text1{
  position: relative;
  width: 267px;
  height: 169px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: 0.2px;
  text-align: left;
  color: #73879c;
}
.content-container-text1-h1{
  font-family: Lato;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.31;
  letter-spacing: 0.5px;
  color: #506a85;
}
.content-container-text2{
  position: relative;
  top: 49px;
  width: 267px;
  height: 168px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: 0.2px;
  text-align: left;
  color: #73879c;
}
.content-container-text2-h1{
  font-family: Lato;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.31;
  letter-spacing: 0.5px;
  color: #506a85;
}
.content-container-text3{
  position: relative;
  top: 27px;
  margin: Opx;
  width: 267px;
  height: 169px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: 0.2px;
  text-align: left;
  color: #73879c;
}
.content-container-text3-h1{
  font-family: Lato;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.31;
  letter-spacing: 0.5px;
  color: #506a85;
}
.footer-container-text1{
  padding-top: 12px;
  margin-left: auto;
  margin-right: auto;
  width: 756px;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  line-height: 23px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.55;
  letter-spacing: 0.2px;
  text-align: center;
  color: #73879c;
}
.footer-container-text1-h1{
  font-family: Lato;
  font-size: 44px;
  font-weight: bold;
  line-height: 1.23;
  letter-spacing: 0.4px;
  color: #506a85;
}
.mapouter{
  position:relative;
  text-align:right;
  height:210px;
  width:512px;
}
.gmap_canvas{
  overflow:hidden;
  background:none!important;
  height:210px;
  width:512px;
}
.container-info-text{
  vertical-align: top;
  display: inline-block;
  bottom: 10%;
  margin-top: -10px;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: center;
  color: #95a4b3;
}
.container-info-text-h1{
  font-family: Lato;
  margin-bottom: -28px;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.7;
  letter-spacing: 0.2px;
  text-align: center;
  color: #506a85;
}
.map-text{
  text-align: center;
}
.map-text div{
  display: inline-block;

}
@media only screen and (max-width: 768px) {

body{
  margin: 0;
}
.slider {
  width: 100%;
}
.slider img{
  width: 100%;
}
.slider-container{
  position: relative;
  height: 200px;
  overflow: hidden;
}
.slider-container-text{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 330px;
  text-shadow: 0px 5px 8.6px rgba(0, 0, 0, 0.35);
  font-family: MyriadPro-It;
  font-size: 9px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.41;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
}
.slider-container-text img{
  height: 40px;
  width: auto;
}
.slider-container-text-h1{
  margin-bottom: 15px;
  font-family: Myriad Pro;
  font-size: 35px;
  letter-spacing: 3px;
}
.site-content{
  text-align: center;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  float: none;
  margin-bottom: 50px;
}
.site-content div{
  display: inline-block !important;
  margin-left: 20px;
  margin-right: 20px;
}
.footer-color{
  background-color: #f2f5f7;
  width: 100%;
}
.footer-content{
  max-width: 480px;
  float: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.content-container-text1{
  position: relative;
  width: 267px;
  height: 169px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: 0.2px;
  text-align: left;
  color: #73879c;
}
.content-container-text1-h1{
  ont-family: Lato;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.31;
  letter-spacing: 0.5px;
  color: #506a85;
}
.content-container-text2{
  position: relative;
  top: -10px;
  width: 267px;
  height: 169px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: 0.2px;
  text-align: left;
  color: #73879c;
}
.content-container-text2-h1{
  font-family: Lato;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.31;
  letter-spacing: 0.5px;
  color: #506a85;
}
.content-container-text3{
  position: relative;
  margin: Opx;
  width: 267px;
  height: 169px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: 0.2px;
  text-align: left;
  color: #73879c;
}
.content-container-text3-h1{
  font-family: Lato;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.31;
  letter-spacing: 0.5px;
  color: #506a85;
}
.footer-container-text1{
  padding-top: 12px;
  margin-left: auto;
  margin-right: auto;
  width: 267px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 0.2px;
  text-align: center;
  color: #73879c;
}
.footer-container-text1-h1{
  font-family: Lato;
  margin-right: auto;
  margin-left: -10px;
  width: 305px;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  text-align: center;
  letter-spacing: 0.3px;
  color: #506a85;
}
.mapouter{
  margin-left: 3px;
  position:relative;
  text-align:right;
  height:210px;
  width:310px;
}
.gmap_canvas{
  overflow:hidden;
  background:none!important;
  height:210px;
  width:310px;
}
.container-info-text{
  vertical-align: top;
  display: inline-block;
  bottom: 10%;
  margin-top: -10px;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: center;
  color: #95a4b3;
}
.container-info-text-h1{
  font-family: Lato;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.7;
  letter-spacing: 0.2px;
  text-align: center;
  color: #506a85;
}
.map-text{
  text-align: center;
}
.map-text div{
  display: inline-block;

}
}
